<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>servletUsuario</servlet-name>
        <servlet-class>servlet.servletUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servlet</servlet-name>
        <servlet-class>servlet.servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sservlet</servlet-name>
        <servlet-class>sservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sesion</servlet-name>
        <servlet-class>sesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cerrar</servlet-name>
        <servlet-class>cerrar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>alta</servlet-name>
        <servlet-class>alta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>alta2</servlet-name>
        <servlet-class>alta2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>alta3</servlet-name>
        <servlet-class>alta3</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>consulta</servlet-name>
        <servlet-class>consulta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>coda</servlet-name>
        <servlet-class>coda</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>codco</servlet-name>
        <servlet-class>codco</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletUsuario</servlet-name>
        <url-pattern>/servletUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servlet</servlet-name>
        <url-pattern>/servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sservlet</servlet-name>
        <url-pattern>/sservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sesion</servlet-name>
        <url-pattern>/sesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cerrar</servlet-name>
        <url-pattern>/cerrar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>alta</servlet-name>
        <url-pattern>/alta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>alta2</servlet-name>
        <url-pattern>/alta2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>alta3</servlet-name>
        <url-pattern>/alta3</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>consulta</servlet-name>
        <url-pattern>/consulta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>coda</servlet-name>
        <url-pattern>/coda</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>codco</servlet-name>
        <url-pattern>/codco</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>faces/index.xhtml</welcome-file>
    </welcome-file-list>
</web-app>
